* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo: #B3C8CF;
    --cor-texto: white;
    --cor-primaria: darkblue;
    --cor-secundaria: #000;
}

body {
    background-image: url("../img/futstyle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Unlock", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5rem;
}

.logo_endereco {
    display: block;
    margin: 0 auto;
    height: 6.55rem;
    width: 6.25rem;
    border-radius: 50%; 
    background-color: black; 
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    color: black;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
    position: relative;
    animation: glowing 1.5s infinite;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 5px #B9E5E8, 0 0 10px #B9E5E8, 0 0 15px #B9E5E8, 0 0 20px #00FFFF, 0 0 25px #00FFFF, 0 0 30px #00FFFF, 0 0 35px #00FFFF;
    }
    50% {
        text-shadow: 0 0 10px #B9E5E8, 0 0 12px #B9E5E8, 0 0 20px #B9E5E8, 0 0 32px #00FFFF, 0 0 35px #00FFFF, 0 0 60px #00FFFF, 0 0 70px #00FFFF;
    }
    100% {
        text-shadow: 0 0 5px #B9E5E8, 0 0 10px #B9E5E8, 0 0 15px #B9E5E8, 0 0 20px #00FFFF, 0 0 25px #00FFFF, 0 0 30px #00FFFF, 0 0 35px #00FFFF;
    }
}

.form {
    background-color: #536493;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
}

label {
    color: var(--cor-secundaria);
    font-weight: bold;
    margin-bottom: 0.3rem;
    display: block;
}

.form input[type="text"],
.form input[type="number"] {
    padding: 0.5rem;
    border: 1px solid var(--cor-primaria);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 1rem;
}

.submit_button {
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s;
}

.submit_button:hover {
    font-weight: bold;
    color:var(--cor-de-fundo);
    background-color: #333;
}


@media (max-width: 480px) {
    .container {
        padding: 1rem;
    }

    .form {
        padding: 1.5rem;
    }

    h1 {
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }
}
